.cart-button {
    width: 50px;
    height: 40px;
    position: relative;
}

.cart-item-count {
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}